.fondo {
  background-image: url(../img/R&M.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.titu {
  color: #7dc914;
  font-family: 'Cascadia Code';
  text-shadow: 2px 2.2px 3px yellow;
}

#sel {
  text-align: center;
  font-family: 'Cascadia Code';
  border: 2px solid #560975;
  color: #ad33da;
  border-radius: 20px;
  opacity: 0.6;
  margin-bottom: 1%;
}

.campo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.bu,
#sel {
  margin-right: 1%;
}

.bu {
  width: auto;
  opacity: 0.8;
  background-color: #22fefa !important;
  border: 2px solid #560975;
  font-family: 'Cascadia Code';
  border-radius: 15px !important;
  background-color: #f4511e;
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: black;
}

.bu span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bu:hover span {
  padding-right: 25px;
}

.bu:hover span:after {
  opacity: 1;
  right: 0;
}

.caja {
  width: 93%;
  margin: 1% auto;
  height: auto;
  padding: 1%;
}

#ca{
  border: 1px solid #7dc914;
  cursor: pointer;
  transition: all 500ms;
  margin-bottom: 2.2%;
}
#ca:hover{
  box-shadow: 2px 0px 4px #7dc914 !important;
  transform: scale(1.1);
}

h5{
  font-family: 'Cascadia Code';
  font-weight: bold;
  text-shadow: 1px 1px 2px blue !important;
}
#no{
  font-family: 'Cascadia Code';
  color: #ad33da !important;
  text-shadow: 1px 1px 2px #ad33da !important;
}